.header {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ececec;
}

.portfolio {
  display: flex;
  margin-left: -30px;
  margin-bottom: -30px;
  flex-wrap: wrap;
}

.portfolio-item {
  box-sizing: border-box;
  width: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
  border: 1px solid #eeeeee;
}

.portfolio-item__name {
  padding-top: 20px;
  padding-bottom: 20px;
}

.portfolio-item__heading {
  font-weight: bold;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  padding-bottom: 4px;
  margin-left: 24px;
  color: var(--portfolio-link);
}

.portfolio-item__paragraph {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin-left: 24px;
}

.portfolio-item__link {
  display: block;
  transition-property: box-shadow;
  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.portfolio-item__img {
  position: relative;
  overflow: hidden;
}

.portfolio-item__text {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #ffffff;
  background: rgba(33, 150, 243, 0.9);
  padding: 64px 24px;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid #eeeeee;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  .portfolio-item__link:hover &,
  .portfolio-item__link:focus & {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    color: #ffffff;
    background: rgba(33, 150, 243, 0.9);
    padding: 64px 24px;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: 1px solid #eeeeee;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    transform: translateY(0);
  }
}
