.hero-btn {
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background: #2196f3;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  min-width: 200px;
  margin: 0 auto;
  justify-content: center;
  height: 50px;
}
