.backdrop {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  transition: opacity 250ms, visibility 250ms;
}

.backdrop .is-hidden {
  .modal {
    transform: rotate(-300deg) scale(0.5);
  }
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0) scale(1);
  transition: transform 250ms;
}

.modal-close-btn {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 50%;
  position: absolute;
  top: 8px;
  right: 8px;
}

.modal-close-btn__icon {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill;
  .modal-close-btn:hover & {
    fill: var(--accent-color);
  }
}

.modal__title {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.modal-form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 45px;
  outline: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: border-color;
  &:hover,
  &:focus {
    border-color: var(--accent-color);
  }
}

.modal-form__name {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
  display: block;
}

.modal-text {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 12px;
  outline: none;
  resize: none;
}

.form-field-check__text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
  display: flex;
  align-items: center;
  &::before {
    content: '';
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 2px;
    margin-right: 8px;
  }

  .form-field-check__input:checked + &::before {
    background-image: url(../Images/icon-check.svg);
    border: none;
  }
}

.form-field-check {
  margin-left: 15px;
}

.form-field-check__accent {
  color: var(--accent-color);
  margin-left: 4px;
}

.btn-modal-submit {
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.form-field-btn {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.form-field {
  margin-bottom: 10px;
}

.form-field-comment {
  margin-bottom: 20px;
}

.modal-form__wrap {
  position: relative;
}

.modal-form__icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill;
  .modal-form__input:hover + &,
  .modal-form__input:focus + & {
    fill: var(--accent-color);
  }
}
