:root {
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --contacts-color: #757575;
  --text-color: #757575;
  --background-color: #2f303a;
  --portfolio-link: #212121;
  --portfolio-btn: #f5f4fa;
}
